body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #000000;
}
.header-logo {
  background-color: #e3fd20;
  color: #000000;
}
.header-logo .logo {
  text-align: center;
  position: relative;
  padding: 10px;
}
.header-logo .icons {
  float: right;
  position: relative;
  top: -60px;
  cursor: pointer;
}
.header-logo .icons div i:hover {
  color: #ff006a;
}
.header-logo .icons div {
  display: inline;
  font-size: 30px;
  padding: 0 20px;
}
.user i {
  border-radius: 10px;
  background-color: #000000bd;
  padding: 10px;
  color: #fff;
}

#btn {
  display: none;
  border: none;
  background-color: transparent;
}
.main-navbar {
  background-color: #000000;
  border-bottom: 1px solid #ffffff;

  padding: 10px;
  text-align: center;
}
.main-navbar ul li,
.main-navbar ul li a {
  list-style: none;
  text-decoration: none;
  display: inline;
  padding: 0 10px;
  font-size: 20px;
  color: #fff;
}
.main-navbar ul li a:hover {
  color: #e8ec00;
}
.list-items li.media-icon a,
.list-items li.media-icon {
  text-decoration: none;
  list-style: none;
}
.media-icon a i {
  display: none;
}
.item a.us {
  display: none;
}
.item img {
  display: none;
}
.iconx i {
  display: none;
}
/* section header  */
.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  padding: 20px;
}
.section-header {
  position: relative;
  top: 40px;
  left: -30%;
}
.section-header button {
  padding: 10px;
  font-size: 30px;
  text-transform: capitalize;
  border: 1px solid #ccc;
  background-color: transparent;
}
.main-slide-part {
  overflow-x: auto;
  white-space: nowrap;
  overflow: hidden;
  background-color: #fff;
  padding: 20px;
}

.main-slide-image {
  display: inline-block;
  transition: transform 40.5s ease;
}
.link-more a {
  margin-left: 20px;
  font-size: 30px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
}
.img {
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
  padding: 20px;
}

.img img {
  width: 100%;
  height: auto;
}

h3 {
  text-align: start;
  font-size: 30px;
  padding: 10px;
}
/* endure of main-sldie-part  */
.main-grid-ads {
  background-color: #fff;
  padding: 20px;
}
.grid-ads,
.hold > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hold > div.image-pool > div img {
  width: 50%;
}
.hold > div.image-pool > div h2 {
  margin-left: -150px;
}
.hold > div.image-pool > div small {
  margin-left: -150px;
}
/* end with grid ads  */

.experiance {
  background-color: #000;
  padding: 10px;
}
.main-exp h1 {
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
}
.params p {
  color: #fff;
  width: 60%;
}
.button-params-link button {
  padding: 20px;
  border: 1px solid #ccc;
  text-transform: capitalize;
  width: 20%;
  text-align: start;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
}
.button-params-link i {
  color: #fff;
}

/* form start  */

.main-form {
  background-image: url("/image/form.jpeg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  text-align: center;
  padding: 30px;
}
.main-form div.form {
  background-color: #0000009d;
  padding: 20px;
  border-radius: 10px;
}
.main-form .header {
  font-size: 25px;
}
.form-items .input input {
  width: 21%;
  padding: 10px;
  font-size: 20px;
  border: 2px solid #cccccc6c;
  background-color: transparent;
  color: #fff;
}
.button-submit input {
  margin: 10px;
  width: 21%;
  padding: 10px;
  font-size: 20px;
  background-color: #ffe600;
  text-transform: capitalize;
  font-size: 30px;
  border: none;
  border-radius: 2px;
}
.icons-form {
  text-align: center;
}

.main-footer {
  background-color: #ffff;
  padding: 20px;
}
.main-footer .list-footer {
  border-bottom: 1px solid #cfcfcf;
}
.list-footer ul {
  text-align: center;
}
.main-footer .list-footer ul li,
.list-footer ul li a {
  list-style: none;
  text-decoration: none;
  padding: 0 20px;
  color: #7e7e7e;
}
.main-footer .list-footer ul li {
  display: inline;
}

.copyright {
  text-align: center;
  color: #7e7e7e;
}
.media {
  list-style: none;
  margin-left: -20px;
}
.media a {
  padding: 30px;
  font-size: 30px;
  color: #fff;
}
.media a:hover {
  color: #e8ec00;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.377)
  );
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}
.logos h2 {
  position: relative;
  margin-left: 30px;
  top: -30px;
  color: #000;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}
@media screen and (max-width: 600px) {
  .iconx i {
    display: block;
  }
  .header-logo .logo img {
    width: 40%;
    position: relative;
    top: -5px;
    left: -20px;
  }
  .header-logo .icons {
    float: right;
    position: relative;
    top: -1px;
  }
  .header-logo .icons div {
    font-size: 20px;
    padding: 0 10px;
    font-size: 30px;
  }
  .header-logo .icons {
    margin-top: -60px;
  }
  #btn {
    display: block;
    font-size: 20px;
    padding: 0 10px;
    font-size: 30px;
  }
  .menu #btn {
    position: relative;
    top: -55px;
  }
  .main-navbar {
    display: none;
  }
  .list-items {
    display: grid;
    grid-template-columns: 1fr;
    text-align: start;
    grid-gap: 20px;
  }

  .active {
    display: block;
    height: 120vh;
    width: 100%;
    position: fixed;
    margin-top: -120px;
    padding-top: 100px;
  }
  .iconx {
    position: relative;
    top: -50px;
    right: -80%;
  }
  .item img {
    display: block;
    position: relative;
    top: -100px;
    width: 40%;
  }
  .item a.us {
    display: block;
  }
  .media-icon a i {
    display: inline-block;
  }
  .main-section {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .section-image img {
    width: 100%;
  }
  .section-header {
    width: 100%;
    position: relative;
    top: 0px;
    left: 0%;
  }
  .section-header button {
    padding: 10px;
    font-size: 20px;
  }
  .main-slide-image {
    display: inline-block;
    transition: transform 30.5s ease;
  }
  .main-slide-part {
    padding: 5px;
    margin-left: -10px;
  }
  .img {
    width: 20%;
  }
  .grid-ads,
  .hold > div {
    display: grid;
    grid-template-columns: 1fr;
  }
  .image-ads img {
    width: 100%;
  }
  .hold > div.image-pool > div img {
    width: 100%;
  }
  .hold > div.image-pool > div h2 {
    font-size: 20px;
    padding: 20px;
    margin-left: 10px;
  }
  .hold > div.image-pool > div small {
    font-size: 15px;
    padding: 10px;
    margin-left: 20px;
    position: relative;
    top: -30px;
  }
  .experiance {
    width: 90%;
  }
  .main-exp h1 {
    font-size: 20px;
  }
  .params p {
    color: #fff;
    width: 90%;
  }
  .button-params-link button {
    padding: 10px;
    width: 70%;
    font-size: 20px;
  }
  .button-params-link i {
    color: #fff;
  }

  .main-form {
    padding: 20px;
  }
  .main-form .header {
    font-size: 20px;
  }
  .form-items .input input {
    width: 90%;
  }
  .button-submit input {
    margin: 10px;
    width: 90%;
    padding: 10px;
  }
  .main-footer .list-footer ul li {
    display: block;
    margin-left: -50px;
  }
  .list-footer ul {
    text-align: start;
  }
  .media {
    list-style: none;
    margin-left: -20px;
  }
  .media a {
    padding: 10px;
    font-size: 20px;
    color: #fff;
  }
}
@media screen and (max-width: 400px) {
  .header-logo .icons div {
    font-size: 20px;
  }
  .header-logo .icons {
    margin-top: -50px;
  }
}
