/* Base styles */
.slider-wrapper {
  position: relative;
  overflow: hidden;
}

.image-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
}

.image-item {
  width: 100%;
  height: auto;
  transition: transform 4.5s ease;
}

.image-item:hover {
  border: 2px solid yellow; /* Yellow border around each image */
  box-sizing: border-box;
  animation-play-state: paused;
}
/* CSS for slide buttons */
.slide-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5); /* Adjust as needed */
  border: none;
  color: #333; /* Adjust as needed */
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

#arrow-left {
  left: 10px;
}

#arrow-right {
  right: 10px;
}
.slide h2 {
  margin-top: -60px;
  margin-left: 40px;
  padding: 10px;
  color: e3fd20;
}
/* Adjustments for laptops */
@media screen and (min-width: 768px) {
  .image-list {
    flex-direction: row; /* Display slides horizontally */
  }

  .slide {
    flex: 0 0 auto;
  }
}

/* Additional styles for scrollbar */
.slider-scrollbar {
  margin-top: 10px; /* Adjust as needed */
}

.scrollbar-track {
  background-color: #424242; /* Adjust as needed */
  height: 5px; /* Adjust as needed */
}

.scrollbar-thumb {
  background-color: #e3fd20; /* Adjust as needed */
  height: 100%;
  width: 20%; /* Adjust as needed */
}
